/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;/*permet de supprimer l'espace par défaut que certains navigateurs ajoutent autour du contenu*/
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/*le menu*/
nav {
    display: flex;/*met les deux éléments du menu à l'horizontal*/
    justify-content: space-between;/*espace les deux éléments du menu*/
    align-items: center;/*permet de centrer l'image/logo*/
}
nav img{
    margin-top: 25px;/*marge du dessus*/
    margin-left: -0.5px;/*marge de gauche*/
}
ul {
    display: flex;/*met l'éléments ul à l'horizontal*/
    gap: 16px;/*séparation entre chaque éléments de navigation*/
    list-style: none;/*retire les points de la balise*/
    Margin: 0;
}
    .navigation a:hover {
        color: #0065FC; /* Couleur par défaut */
        text-decoration: none; /* Pas de soulignement par défaut */
        position: relative; /* Nécessaire pour placer une bordure au-dessus */
    }
    
    a:before { /*Pour afficher une "bordure de soulignement" au-dessus du texte*/
        content: ""; /* Nécessaire pour créer un pseudo-élément */
        position: absolute;
        top: -13px; /* Positionne la bordure au-dessus du texte */
        left: 0;
        width: 100%; /* Largeur totale du texte */
        height: 2px; /* Épaisseur de la bordure */
        background-color: #0065FC; /* Couleur de la bordure */
        transition: all 0.3s ease; /* Animation fluide */
    }
/*le menu*/
/*Le titre*/
.trouver {
    margin-top: 50px;/* espace la marge du haut */
}
.trouver h2,
.trouver p {
  margin: 6;/* espace entre h2 et p */
  margin-left: 0px;/* espace marge gauche */
}
/*Le titre*/
/*Le formulaire de recherche*/
form {
    display: flex;/*met l'éléments de recherche à l'horizontal*/
}
form img {
    width: 50px; /* Ajuste la taille de l'icône */
    height: 49px;
}
input#rechercher {
    padding: 10px;/*marge*/
    border: 1px solid #F2F2F2;/*bordure*/
    outline: none;
    font-weight: bold;
}
input#rechercher::placeholder {
    color: black; /* changez la couleur*/
}
input[type="submit"] {
    color: #ffffff;/*couleur de texte du bouton*/
    font-weight: bold;/*style de texte du bouton*/
    border-radius: 0 25px 25px 0;/*arrondit le côté droit du bouton*/
    background-color: #0065fc;/*couleur de fond du bouton*/
    border: 1px solid #0065fc; /* Définit précisément la taille et type de bordure + la couleur */
    }
/*Le formulaire de recherche*/

/*Les filtres*/
.bardefiltres {
    display: flex;/*met l'éléments de recherche à l'horizontal*/
    justify-content: space-between;/*espace les deux éléments du menu*/
    align-items: center;/*permet de centrer l'image/logo*/
    margin-right: 700px; /*l'espacement entre les boutons*/
    margin-top: 15px;
}
button.bouton {
    border-radius: 25px;/*arrondi les angles*/
    background-color: #ffffff;/*le fond du bouton*/
    font-weight: bold;/*Texte en gras*/
    border: 2px solid #d9d9d9;
    display: flex; /* Active Flexbox pour un alignement précis */
    align-items: center; /* Centre verticalement le contenu (icône et texte) */
    justify-content: center; /* Centre horizontalement le contenu */
    gap: 10px; /* Espace entre l'icône et le texte */
    padding-top: 6px;/* Espace haut */
    padding-bottom: 6px;/* Espace bas */
    padding-left: 10px;/* Espace gauche */
    padding-right: 13px;/* Espace droite */
    margin-right: 15px;/* espacement entre les boutons */
}
button:hover{/* permet de mettre une couleur au survole du bouton */
    background-color: #DEEBFF;/* couleur du fond */
}
button.bouton img {
    width: 20px; /* Taille de l'icône */
    height: auto; /* Maintient les proportions */
    }
.bardefiltres p {
    margin-right: 15px; /*l'espacement entre les boutons*/
    }
/*Les filtres*/

/*info-bar*/
.information {
    display: flex;/*met l'éléments de recherche à l'horizontal*/
    align-items: center;/*permet de centrer l'image/logo*/  
    }
.information img {
    margin-right: 10px;
}
/*info-bar*/

/*Hébergement à Marseille*/
.carte {
    margin-left: 10px;
    display: flex;
    flex-direction: column;/*colonne*/
    justify-content: space-between;/*espacement*/
    gap: 5px;/*taille des espacement*/
}
.premiereligne {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -50px;
}
.deuxiemeligne {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.affichezplus {
    margin-left: -35px;
    margin-top: 30px;
    margin-bottom: -40px;
}
.marseille {
    margin-top: -20px;/*alignement de la marge avec "Les plus populaires*/
}
.hotelauberge {
    background-color: white;
    background-color: white;
    border-radius: 20px;
    width: 250.33px;
    height:207.25px ;
    padding: 5px;
}
.hotelauberge div > * {
    margin: 0px; /* Supprime toutes les marges */
    padding: 0px; /* Supprime les espacements internes, si nécessaire */
}
.hotelauberge img {
    width: 250.33px;
    height:124px ;
    border-radius: 20px 20px 0 0;
    object-fit:cover
}
.hotelauberge img.etoile {
    width: 81px;
    height:13.25px;
}
/*Hébergement à Marseille*/
/*activité à Marseille*/
.marseille {
    margin-bottom: 50px;
    margin-left: 30px;
}
.marseille1 {
    margin-bottom: 50px;
    margin-left: 0px;
}
.activite {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -20px;
    margin-left: 450px;
}
.portfortparcdame img {
    border-radius: 20px 20px 0 0;
    width: 320px;
    height: 400px;
    object-fit:cover;/*permet que l'image ne soit pas déformé*/
}
article.portfortparcdame {
    border: 2px solid #f2f2f2;
    border-radius: 25px;
}
h3.cartehote {
    margin-left: 20px;
}
/*activité à Marseille*/
/*pieddepage*/
.pieddepage {
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 30px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 30px;
    gap: 265px;/*espacement entre les colonnes*/
}
footer {
    background-color: #f2f2f2;/*fond du pied de page*/
    margin-right: -25px;
    margin-left: -40px;
}
.fond {
    display: flex;
    flex-direction: column; /* Organise les éléments verticalement */
    margin: 10px; /* Ajoute de l'espace autour de la colonne */
    gap: 15px;/*espacement entre les colonnes*/
    margin-top: -15px;/*marge du fond*/
    margin-bottom: -15px;
}
.fond h3 {
    margin-bottom: 10px; /* Espace entre le titre et le texte */
}
h3.apropos {
    margin-bottom: auto;
}
 /*pied de page*/
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 70px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}