/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/*le menu*/
nav {
    display: flex;/*met les deux éléments du menu à l'horizontal*/
    justify-content: space-between;/*espace les deux éléments du menu*/
    align-items: center;/*permet de centrer l'image/logo*/
}
ul {
    display: flex;/*met l'éléments ul à l'horizontal*/
    gap: 16px;/*séparation entre chaque éléments de navigation*/
    list-style: none;/*retire les points de la balise*/
}
    a:hover {
        color: #0065FC; /* Couleur par défaut */
        text-decoration: none; /* Pas de soulignement par défaut */
        position: relative; /* Nécessaire pour placer une bordure au-dessus */
    }
    
    a:before { /*Pour afficher une "bordure de soulignement" au-dessus du texte*/
        content: ""; /* Nécessaire pour créer un pseudo-élément */
        position: absolute;
        top: -5px; /* Positionne la bordure au-dessus du texte */
        left: 0;
        width: 100%; /* Largeur totale du texte */
        height: 2px; /* Épaisseur de la bordure */
        background-color: #0065FC; /* Couleur de la bordure */
        transition: all 0.3s ease; /* Animation fluide */
    }
/*le menu*/
/*Le formulaire de recherche*/
form {
    display: flex;/*met l'éléments de recherche à l'horizontal*/
}
form img {
    width: 50px; /* Ajuste la taille de l'icône */
    height: 49px;
}
input#rechercher {
    padding: 10px;/*marge*/
    border: 1px solid #F2F2F2;/*bordure*/
}
input[type="submit"] {
    color: #ffffff;/*couleur de texte du bouton*/
    font-weight: bold;/*style de texte du bouton*/
    border-radius: 0 25px 25px 0;/*arrondit le côté droit du bouton*/
    background-color: #0065fc;/*couleur de fond du bouton*/
    border: 1px solid #0065fc; /* Définit précisément la taille et type de bordure + la couleur */
    }
/*Le formulaire de recherche*/

/*Les filtres*/
.bardefiltres {
    display: flex;/*met l'éléments de recherche à l'horizontal*/
    justify-content: space-between;/*espace les deux éléments du menu*/
    align-items: center;/*permet de centrer l'image/logo*/
    margin-right: 700px; /*l'espacement entre les boutons*/
    margin-top: 15px;
}
button.bouton {
    border-radius: 25px;/*arrondi les angles*/
    background-color: #ffffff;/*le fond du bouton*/
    font-weight: bold;/*Texte en gras*/
    border: 2px solid #d9d9d9;
    display: flex; /* Active Flexbox pour un alignement précis */
    align-items: center; /* Centre verticalement le contenu (icône et texte) */
    justify-content: center; /* Centre horizontalement le contenu */
    gap: 10px; /* Espace entre l'icône et le texte */
    padding-top: 4px;/* Espace haut */
    padding-bottom: 4px;/* Espace bas */
    padding-left: 10px;/* Espace gauche */
    padding-right: 10px;/* Espace droite */
    height: 50px;/* taille du bouton */
    width: 173px;/* taille du bouton */
    margin-right: 15px;/* espacement entre les boutons */
}
button:hover{/* permet de mettre une couleur au survole du bouton */
    background-color: #DEEBFF;/* couleur du fond */
}
button.bouton img {
    width: 20px; /* Taille de l'icône */
    height: auto; /* Maintient les proportions */
    }
.bardefiltres p {
    margin-right: 15px; /*l'espacement entre les boutons*/
    }
/*Les filtres*/

/*info-bar*/
.information {
    display: flex;/*met l'éléments de recherche à l'horizontal*/
    justify-content: space-between;/*espace les deux éléments du menu*/
    align-items: center;/*permet de centrer l'image/logo*/  
    margin-right: 795px;/*l'espacement entre le texte et l'icone info'*/
}
/*info-bar*/

/*Hébergement à Marseille*/
.marseille {
    margin-top: -20px;/*alignement de la marge avec "Les plus populaires*/
}
.hotelauberge {
    background-color: white;
    background-color: white;
    border-radius: 20px;
    width: 250.33px;
    height:207.25px ;
}
.hotelauberge img {
    width: 250.33px;
    height:124px ;
    border-radius: 20px 20px 0 0;
}

/*Hébergement à Marseille*/

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}